{
    "name": "mypackage",
    "version": "0.0.1",
    "eslintConfig": {
        "env": {
            "browser": true,
            "node": true
        }
    },
    "eslintIgnore": ["detailsNav.jsx", "homeNav.jsx","Homepage.jsx"]
}